body{
	font-family: 'Roboto', sans-serif;
	background: url('logo_sem_fundo.png'), linear-gradient(90deg, rgb(0,0,0), rgb(25,25,112));
	color: #fff;
}
	
a{
	text-decoration: none;
	color: aquamarine;
}

#login{
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: row;
}
.name input{
	border-radius: 15px;
	border: none;
	width: 250px;
	height: 40px;
	padding-left: 15px;
	background-color: #1e1c2e;
	color: #b6b6b6;
	margin-bottom: 15px;
}
.e-mail input{
	border-radius: 15px;
	border: none;
	width: 250px;
	height: 40px;
	padding-left: 15px;
	background-color: #1e1c2e;
	color: #b6b6b6;
}

.senha input{
	border-radius: 15px;
	border: none;
	width: 250px;
	height: 40px;
	padding-left: 15px;
	background-color: #1e1c2e;
	color: aquamarine;
	margin-top: 15px;
}

.entrar input {
	cursor: pointer;
	width: 120px;
	height:40px;
	border-radius: 20px;
	border: none;
	background-color: rgb(30,144,255);
	color: #b6b6b6;
}

.entrar input:hover{
	background: rgb(8,138,236);
}

input::placeholder{
	color: #b6b6b6;
}

h1{
	color: #fafafa;
}

.caixa{
	margin-top:65px;
}

.caixa img{
	width: 100px;
}

input:focus {
	outline: none;
}

.file input::placeholder{
	cursor: pointer;
	width: 120px;
	height:40px;
	border-radius: 20px;
	border: none;
	background-color: rgb(30,144,255);
	color: #b6b6b6;
	
}